# macOS
.DS_Store
*.DS_Store

# JetBrains / CLion
.idea/

# CMake build folders
cmake-build-*/

# macOS debug symbols
*.dSYM/

# Compiled files
*.o
*.out
*.exe
/basic/exercises/exercise9
/basic/exercises/exercise10
/basic/exercises/exercise11
/basic/exercises/exercise12
/basic/exercises/exercise13
/basic/exercises/exercise14
/basic/exercises/exercise15
/basic/exercises/exercise16
/basic/exercises/exercise17
/basic/exercises/exercise18
/basic/exercises/exercise19
/basic/exercises/exercise20

/basic/teory/dinamicArray
